HereYouGoAPI/.vs/
HereYouGoAPI/DAl.Sql/bin/
HereYouGoAPI/DAl.Sql/obj/
HereYouGoAPI/Domain/bin/
HereYouGoAPI/Domain/obj/
HereYouGoAPI/HereYouGoAPI/bin/
HereYouGoAPI/HereYouGoAPI/obj/
HereYouGoAPI/Infastructure/bin/
HereYouGoAPI/Infastructure/obj/
HereYouGoAPI/Logic/bin/
HereYouGoAPI/Logic/obj/
HereYouGoAPI/Security/bin/
HereYouGoAPI/Security/obj/
