src/.vs/
src/DAl.Sql/bin/
src/DAl.Sql/obj/
src/Domain/bin/
src/Domain/obj/
src/HereYouGoAPI/bin/
src/HereYouGoAPI/obj/
src/Infastructure/bin/
src/Infastructure/obj/
src/Logic/bin/
src/Logic/obj/
src/Security/bin/
src/Security/obj/
